<div class="player detail panel panel-default full">
    <button type="button" class="close pull-right" aria-hidden="true" ng-click="dismiss()">&times;</button>
    <div class="panel-body">
        <h3>{{ player.name }}</h3>
        <form novalidate method="POST" class="form form-inline" ng-if="player.seasons_not_in">
            <p class="message bg-success text-success" ng-show="messages.success">Season added!</p>
            <p class="message bg-danger text-danger" ng-show="messages.choose_error">Choose a season!</p>
            <p class="message bg-danger text-danger" ng-show="messages.an_error">Sorry, it didn't work</p>
            <button ng-click="add()" class="btn btn-primary season-add">Add To Season</button>
            <select class="form-control" ng-model="form.season">
                <option value="0">Choose...</option>
                <option ng-repeat="season in player.seasons_not_in" value="{{season.id}}">{{season.name}}</option>
            </select>
        </form>
    </div>
</div>
