    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <div class="panel-title">
                    <h4>Players<span class="spinner glyphicon glyphicon-repeat">&nbsp;</span></h4>
                </div>
            </div>
            <div class="pull-right">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" name="search" class="form-control search-query" ng-model="query">
                </div>
            </div>
        </div>
        <ul class="list-unstyled list-group">
            <li class="list-group-item" ng-class="{ 'list-group-item-success': player.id == selected.id }" ng-repeat="player in resources | filter:query">
                <a ng-click="choose(player.id)">{{player.name}}</a>
                <div class="pull-right">
                    <a ui-sref="player_chosen.edit(player.id)" class="edit glyphicon glyphicon-edit">&nbsp;</a>
                    <a href="{{player.admin_edit_url}}" target="_blank" class="glyphicon glyphicon-share-alt">&nbsp;</a>
                </div>
            </li>
        </ul>
    </div>
