        <div class="panel-header">
            <h3 class="panel-title">Players</h3>
            <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" name="search" class="form-control search-query" ng-model="query">
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled list-group">
                <li class="list-group-item" ng-class="{ 'list-group-item-success': player.id == selected_id }" ng-repeat="player in players | filter:query">
                    <a ng-click="choose(player.id)">{{player.name}}</a>
                </li>
            </ul>
        </div>
