        <div class="panel-header">
            <h3 class="panel-title">Seasons</h3>
            <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" name="search" class="form-control search-query" ng-model="query">
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="well" ng-repeat="season in seasons | filter:query">
                    {{season.name}}
                </li>
            </ul>
        </div>
