    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <div class="pull-left">
                <div class="panel-title">
                    <h4>Seasons</h4>
                </div>
            </div>
            <div class="pull-right">
                <div class="right-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" name="search" class="form-control search-query" ng-model="query">
                </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled list-group">
                <li class="list-group-item" ng-class="{ 'list-group-item-success': season.id == selected.id }" ng-repeat="season in seasons | filter:query">
                    <a ng-click="choose(season.id)">{{season.name}}</a>
                </li>
            </ul>
        </div>
    </div>
