        <div class="panel-header">
            <div class="panel-title">
                <h4>Teams</h4>
            </div>
            <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" name="search" class="form-control search-query" ng-model="query">
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled list-group">
                <li class="list-group-item" ng-class="{ 'list-group-item-success': team.id == selected.id }" ng-repeat="team in teams | filter:query">
                    <a ng-click="choose(team.id)">{{team.name}}</a>
                </li>
            </ul>
        </div>
