<div class="team detail panel panel-default full">
    <button type="button" class="close pull-right" aria-hidden="true" ng-click="dismiss()">&times;</button>
    <div class="panel-body">
        <h3>{{ team.name }}</h3>
        <form novalidate method="POST" class="form form-inline" ng-if="team.seasons_not_in">
            <button ng-click="add" class="btn btn-primary season-add">Add To Season</button>
            <select class="form-control" ng-model="form.season">
                <option value="0">Choose...</option>
                <option ng-repeat="season in team.seasons_not_in" value="{{season.id}}">{{season.name}}</option>
            </select>
        </form>
    </div>
</div>
