        <div class="panel-header">
            <h3 class="panel-title">Teams</h3>
            <div class="right-inner-addon">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" name="search" class="form-control search-query" ng-model="query">
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled">
                <li class="well" ng-repeat="team in teams | filter:query">
                    <a ui-sref="team_chosen({teamId:team.id})">{{team.name}}</a>
                </li>
            </ul>
        </div>
