{% load static %}
<!doctype>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <title>The Greco</title>
    <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.css" %}">
    <script type="text/javascript" src="{% static "lib/angular/angular.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/angular/angular-resource.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/angular/angular-django-rest-resource.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/app.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/services.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/controller.js" %}"></script>
    <style type="text/css">
    .right-inner-addon {
        position: relative;
    }
    .right-inner-addon input {
        padding-right: 30px;    
    }
    .right-inner-addon i {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
    </style>
</head>
<body class="container-fluid">
<div class="row">
    {% include "common/player_panel.html" %}
    {% include "common/team_panel.html" %}
    {% include "common/season_panel.html" %}
</div>
</body>
</html>
